/* PROGRESS PAGE SPECIFIC STYLES */

header {
}

#progress_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
#instructions {
    min-width:33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#raceProgress {
    min-width:33%;

    display: flex;
    justify-content: center;
    padding: 25px;
}

#leaderBoard {
    min-width:33%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#leaderBoard p {
    color: black;
}

#leaderBoard__positions {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: black;
}
#raceUpdates {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#accelerate {
    display: flex;
    margin-right: 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section#accelerate button {
    height: 100px;
    width: 100px;
    margin: 30px auto;
    border-radius: 180%;
    background-color: white;
    cursor: pointer;
}

#big-numbers {
    font-weight: bolder;
    font-size: 40px;
}

.progressContainer {
    width: 60vw;
    height: 0.1px;
    position: relative;
    border: 3px solid lightgrey;
    border-radius: 2px;
    margin: 30px auto;
}

.progressBar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: green;
    position: absolute;
    background-position: center;
    top: -20px;
}

@media(min-width: 600px) {
    #big-numbers {
        font-size: 60px;
    }

    section#accelerate button {
        height: 130px;
        width: 130px;
        font-size: 2rem;
    }
}

@media(min-width: 960px) {
    #big-numbers {
        font-size: 60px;
    }

    section#accelerate button {
        height: 160px;
        width: 160px;
    }
}
